bin-debug/
.idea/
.wing/
tools/node_modules
src/resource/**/*.js
src/resource/**/**/*.js

release/

tools/nodejs/buildTS.local
*.local
*.map
.idea
*/demo/libs/
*/*/demo/libs/

tsconfig.json

socket.io/demo/node_modules